@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    /* garante que o elmento ocupa no maximo o espaço definido */
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header .logo {
background-color: #FFC107;
text-align: center;
}

header .menu {
background-color: #FFA000;
display: flex; /* ativar flexbox */
justify-content: center; /* centralizar na horizontal*/
}

header .menu ul {
    margin: 0; /* margin = espaçamento externo*/
    list-style: none; /* tirar marcador da lista */
}

header .menu ul li {
    display: inline-block;
    padding: 10px 15px; /* padding = espaçamento interno | 10px pra cima 15px para as laterais */
}

header .menu ul li a {
    text-decoration: none; /* tirar sublinhado*/
color: #FDFDFD; /* mudar a cor do texto*/
}

main section.banner {
    height: 500px; /*altura */
    background-color: cadetblue;
    background-image: url(../img-omma/banner.png); /* imagem de fundo */
    background-repeat: no-repeat; /* imagem não vai repetir */
    background-size: cover; /* imagem nao vai cobrir todo o elemento section */
}

main section.banner .container {
    display: flex;
    justify-content: flex-end;  /* alinhamento horizontal para a direita */
    align-items: center; /*alinhamento vertical para o centro */
    height: 600px; /* altura */
} 

main section.banner h1 {
    font-size: 70px;
    text-transform: lowercase; /* tudo com letra minuscula*/
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);/* sombra no texto */
    padding: 100px; 
}

main section.receitas-principais .container {
min-height: 600px;
width:1200px;
max-width: 100%;
margin: 0 auto; /* espaçamento automatico para centralizar o container */
}

main section.receitas-principais h2 {
    color:#FFA000;
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    text-transform: lowercase;
}

.lista-receitas {
    display: flex; /*ativando flexbox */
    justify-content: space-evenly; /* espaço entre os elementos na horizontal */
align-items: flex-start; /*todos os elementos alinhado no topo */
flex-wrap: wrap;
}

.lista-receitas article {
    
    width:345px; /* largura do article */
    text-align: center; /*centralizando tudo no article */
margin-bottom: 60px;
}

.lista-receitas  article .thumb {
    width:100%; /*imagem vai ocupar 100% de largura no article */
    height: 345px; /* altura da thumb */
    background-color: orange; /* cor de fundo somente para teste */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lista-receitas article h3 {
    font-size: 26px;
}

.lista-receitas article a {
    background-color: #176902;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 25px;
    text-decoration: none; /* tirar sublinhado */
}

section.banner-secundario {
    background-image: url(../img-omma/banner-secundario.png);
    background-size: cover;
    background-position: center;
}

section.banner-secundario .container {
    min-height: 600px;
    width:1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* itens em coluna */
    justify-content: center; /* alinhamento centralizado na vertical */ 
}

section.banner-secundario .container h2 {
    font-size: 62px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.banner-secundario .container p {
    color: #fff;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 450px;
    max-width: 100%;
}

footer {
    background-color:#FFA000;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

footer .container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

footer p {
    padding: 0 15px;
}


/* pagina todas as receitas */

main section.todas-receitas .container {
    min-height: 600px;
    width:1200px;
    max-width: 100%;
    margin: 0 auto; /* espaçamento automatico para centralizar o container */
   padding: 50px 0; 
}
    
    main section.todas-receitas h2 {
        color:#FFA000;
        font-weight: bold;
        font-size: 50px;
        text-transform: lowercase;
    }

    /*pagina receitas */

    .container-receita-interna{
        width: 1200px;
        max-width: 100%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start
    }

    .container-receita-interna main {
        width: 700px;
        max-width: 100%;
    }

    .container-receita-interna main img{
        width: 100%;
        max-width: 100%;
    }

    small.tag {
        display: inline-block;
        border: 1px solid #176902;
        border-radius: 47px;
        color:#176902;
        padding: 5px 10px;
        margin: 10px 0;
    }

    aside article.receita-relacionada {
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 40px 0;
    }

    aside article.receita-relacionada .thumb {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
    }

    aside article.receita-relacionada h3{
        padding: 10px;
        margin: 0;
        text-transform: lowercase;
        text-align: center;
    }

/* Página contato */

.banner-contato {
    width: 100%;
    height: 400px;
    background-image: url(../img-omma/banner-contato.png);
    background-size: cover;
    background-position: center;
}
.banner-contato .container,
section.contato .container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
}
.banner-contato .container h1 {
    color: #fff;
    font-size: 70px;
}
.banner-vertical {
    width: 30%;
    height: 700px;
    background-image: url(../img-omma/banner-vertical.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}
.formulario {
    border: 1px solid #FFA000;
    border-radius: 20px;
    margin: 0 30px;
    padding: 30px;
    width: 70%;
}
.formulario h2 {
    color: #FFA000;
}

.formulario form input {
    width: 100%;
    border: 1px solid #FFA000;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
}

.formulario form textarea {
    width: 100%;
    border: 1px solid #FFA000;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 0;
    height:200px;
}

.formulario form button {
    font-size: 16px;
    background-color:#FFA000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 1px solid #FFA000;
    padding: 5px 15px;
    border-radius: 30px;
}

.formulario form button hover{
    background-color: green;
    border-color: green;
    cursor: pointer;
}

@media (max-width: 1100px) {
/* se o dispositivo tiver no maximo 1100px*/
 
.container {
    width: 800px !important;
    max-width: 1005 !important;

     /* !important sobrescreve outras regras */
}

main.section.banner .container{
    justify-content: flex-start;
}
    
.lista-receitas article {

    width:250px;
}

.container-receita-interna main {
    width: 500px;
}

.container-receita-interna main iframe{
    width: 100%;
}

}

@media (max-width:900px) {
    .container,
    .container-receita-interna {
        width: 800px !important;
        padding: 0 20px;
    }

    .lista-receitas article {
        padding: 10px;
    }
}


@media (max-width:768px) {

    .logo img {
        max-width:150px;
    }

    section.banner .container h1 {
    font-size:30px;
    position: relative;
    display: flex;
    top:-150px;
    left: -50px;

    
    }

     main section.banner {
        
        background-size: 700px;
        background-color:#FDFDFD;
        background-repeat:no-repeat;
        height: 300px;
     }

     section.receitas-principais .container h2 {
        font-size:35px;
     }

     
     main section.banner h1 {
        font-size: 70px;
        text-transform: lowercase; /* tudo com letra minuscula*/
        color: #fbf9f9;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);/* sombra no texto */
         padding:600px;
     }

     .lista-receitas {
        display: flex; /*ativando flexbox */
        justify-content: center; /* espaço entre os elementos na horizontal */
        align-items: flex-start; /*todos os elementos alinhado no topo */
        flex-wrap: wrap;
    }
    
    .lista-receitas article {
        
        width:245px; /* largura do article */
        text-align: center; /*centralizando tudo no article */
    margin-bottom: 60px;
    }
    
    .lista-receitas  article .thumb {
        width:100%; /*imagem vai ocupar 100% de largura no article */
        height: 245px; /* altura da thumb */
        background-color: orange; /* cor de fundo somente para teste */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    section.banner-secundario .container p {
        font-size: 20px;
    }
    
    section.banner-secundario .container h2{
        font-size: 35px;
    }
    
    section.banner-secundario {
        height:500px;
    }



}
